* {
  margin: auto;
  padding: 1px;
  box-sizing: border-box;
}

:root {
  --cyan: #21e2f3;
  --white: #fff;
  --black: #000;

  --slider: .4s;
  --cursor: pointer;
  --align: center;

  --gutter-huge: 12rem;
  --gutter-medium: 6rem;
  --gutter-normal: 3rem;
  --gutter-small-1: 2.5rem;
  --gutter-small: 2rem;
}

.header {
  border: 1px var(--black);
  border-radius: 1px;
}

body {
  padding: 0px; 
  font-family: sans-serif;
  background-image: url("../src/Images/books.png");
  background-size: contain;
}

 .darkmode {
  background-size: contain;
  background-image: url("../src/Images/books-night-mode.png");
}

.library-load {
  background-size: contain;
  background-position: 45%;
  background-image: url("../src/Images/loading....gif");
}

/* Title style */
h1 {
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-size: 20px;
  justify-content: var(--align);
  text-align: var(--align);
  margin-bottom: 10px;
  width: 40%;
}

/* Author name style */
h3 {
  font-family:  'Lucida Sans Unicode';
  /* font-weight: 400; */
  appearance: inherit;
  font-display:initial;
}

.booklist {
  width: 90ww;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 40%;
  justify-content: space-evenly;
  text-align: var(--align);
  /*loading screen centered */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(1fr, 3);
    /* grid-template-rows: 
    "block"
    "block"
    "block"; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.book {
  background: var(--white);
  /* background: content-box radial-gradient(rgb(232, 118, 118), rgb(60, 61, 61)); */
  border-radius: 10px;
  padding: 1rem 2rem;
  gap: 20px;
  column-gap: 90%;
  margin-bottom: 50px;
  padding-bottom: 20px;
  opacity: .95; /* Background transparency */
}

div .booklist {
  display: grid;
  grid-template-columns: 2;
  margin-bottom: 20px;
}
/* Add Book to List/Close button */
.btn {
    display: flex;
    margin-right: 0px;
    background: var(--black);
      color: var(--white);
    border: 0.5mm solid;
      padding: 10px 20px;
      cursor: var(--cursor);
      font-size: 15px;
      font-family: inherit;
}

/* Delete button */
.bttn {
  background: yellow;
  color: var(--black);
  border: 0.4mm solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  cursor: var(--cursor);
}

.bttn:hover {
background: red;
color: var(--black);
border-radius: 5px;
border-style: outset;
border: 0.5mm solid;
font-weight:bolder;
}

/* Submit button */
.bttn2:hover { 
  background: rgb(11, 126, 11);
    color: var(--white);
    border: 0.4mm solid;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
    cursor: var(--cursor);
}

.btttn{
background: var(--black);
color: var(--white);
  border: 0.4mm solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  cursor: var(--cursor);
}

/* Form box wrapper */
.add-form {
  margin-bottom: 50px;
  margin: 10px 0;
    max-width: 275px;
      margin: 10px auto;
      overflow: auto;
      min-height: 10px;
      border: 1px solid var(--black);
      padding: 5px;
      border-radius: 5px;
}

.description {
  font-family: Italic;
  font-size: 20px;
  overflow: auto;
  border: 1px solid var(--white);
  padding: 10px;
  display: grid;
  grid-template-columns: 185px;
  grid-template-rows: auto;
  grid-template-areas: 
  'desc';
  box-sizing: border-box;
  width: 19%;
  text-align: var(--align);
}

@media(max-width: 1180px) {
  .description {
  display: flex;
  width: 25%;
  text-align: var(--align);
}
}

@media(max-width: 900px) {
  .description {
  display: flex;
  width: 30%;
  text-align: var(--align);
}
}

@media(max-width: 700px) {
  .description {
  display: flex;
  width: 40%;
  text-align: var(--align);
}
}

@media(max-width: 450px) {
  .description {
  display: flex;
  width: 55%;
  text-align: var(--align);
}
}

.form-control label {
  display: block;
}

.flip-animation {
  transition: transform 0.8s;
}

@keyframes flip {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.flip {
  animation: flip 0.8s;
}

.flip-animation {
  backface-visibility: visible;
}

@keyframes flip2 {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.flip2 {
  animation: flip 0.5s;
}

.flip2-animation {
  backface-visibility: hidden;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
  margin-left: 1%;
}

.slider-text {
  display: flex;
  margin-left: 0px;
  font-size: medium;
  font-family: sans-serif;
  margin-top: -45px;
}

/* default colors */
.dark {
  /* background-color: black; */
  color: rgb(0, 0, 0);
}

/* Bg and text color change on button press*/
.light {
  /* background-color: white; */
  border: 1px solid var(--cyan);
  color: var(--white);
  background-image: url("../src/Images/blue-fire.gif");
  background-size: cover;
  background-position:bottom;
}

/* Form color change on button press*/
.light > .add-form {
  border: 1px solid var(--cyan);
}

/* Delete button orientation on theme switch */
.bttn.light {
  background: #8b0661;
  color: #bab4b4;
  font-size: 15;
  font-weight: bolder;
  background-position: top;
  border: 0.4mm solid;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
    cursor: var(--cursor);
}

.bttn.light:hover {
  background: #de109d;
  color: var(--white);
  font-size: 15;
  font-weight: bolder;
  background-position: top;
  border: 0.4mm solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  cursor: var(--cursor);
}

.btn.dark {
  display: flex;
    margin-right: 0px;
    background: var(--black);
    color: var(--white);
    border: 0.5mm solid;
    padding: 10px 20px;
    /* border-radius: 5px; */
    cursor: var(--cursor);
    font-size: 15px;
    font-family: inherit;
}

.btn.light {
  display: flex;
    margin-right: 0px;
    background: rgb(255, 0, 0);
    color: var(--white);
    border: 0.5mm solid;
    padding: 10px 20px;
    /* border-radius: 5px; */
    cursor: var(--cursor);
    font-size: 15px;
    font-family: inherit;
  border-color: var(--cyan);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: var(--cursor);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: var(--slider);
  transition: var(--slider);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: var(--slider);
  transition: var(--slider);
}

input:checked+.slider {
  background-color: var(--white);
}

input:checked+.slider:hover {
  background-color: #068b15;
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--black);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*The space between each book */
#container {
  margin-bottom: 10px;
}

/*Ensures each book image size scales to each other */
.book-image {
  width: 250px;
  height: 375px;
}

footer{
  color: var(--white);
  margin-top: -410px;
  text-align: center;
  padding: var(--gutter-medium) 0 var(--gutter-normal);
}